fileFormatVersion: 2
guid: b51aa7595e61b564980ab29defd10519
timeCreated: 1511512787
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
