fileFormatVersion: 2
guid: 0850ab3f9fcea3845ac0b080c2975f28
timeCreated: 1511444154
licenseType: Pro
MonoImporter:
  serializedVersion: 2
  defaultReferences: []
  executionOrder: 0
  icon: {instanceID: 0}
  userData: 
  assetBundleName: 
  assetBundleVariant: 
