[net]
server_ip=megzwy.f3322.net
server_port=2010
default_serverno=1
gm_url=http://sc.testgc.firedg.com/h5/g_entrance.html
[download]
server_link=http://203.195.131.212:16688/lxhy.html
sdk_server_link=http://xyfyapi.firedg.com/api.php
resource_server=http://xyfycdn.firedg.com/
cdn_server_link=http://xyfyapi.firedg.com/cdnApi.php
apk_server=http://xyfycdn.firedg.com/pkg/
[appsetting]
internal_sdk=0
logo_name=hw_jdjh
